.App {
  padding: 10px;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.gap-1 {
  gap: 4px;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.text-2xl {
  font-size: 24px;
}

.bold {
  font-weight: 700;
}
